{% extends "main.html" %}

{% block content %}
    <div class="logn-container">
        <h4>{{ game.id }} </h4>
        <h2>{{ game.attacker.username }} VS {{ game.defender.username }}</h2>
        <p>
            {% if request.user == game.attacker and game.defender_card is None %}
                진행 중...
                <br>
                나: {{ game.attacker_card }}
            {% elif request.user == game.defender and game.defender_card is None %}
                <form metod="post">
                    {% csrf_token %}
                    <div class="button_center2"><button class="default-btn" name="counter_attack"><p>대응하기</p></button></div>
                </form>
            {% else %}
                <p>결과: {{ game.reult }}</p>
            {% endif %}

{% endblock %}
